@model ExaminationSystem.WebUI.ViewModels.ThemeViewModel

@{
    ViewBag.Title = "Theme";
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/app/exam.js"></script>
    }
<input id="themeId" type="hidden" value="@Model.Id"/>
<input id="questionCount" type="hidden" value="@Model.QuestionsCount" />

<h2>Theme information:</h2>

<table>
    <tr><th>Theme name:</th><td>@Model.Name</td></tr>
    <tr><th>Questions count:</th><td>@Model.QuestionsCount</td></tr>
</table>

<div id="question-container">

</div>

<button id="start-exam" type="button">Start examination</button>