/* https://www.colorcodehex.com/online-color-mixer.html */

@font-face {
    font-family: Ubuntu;
    src: url("/Content/app/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: GeomaRegularDemo;
    src: url("/Content/app/fonts/GeomaRegularDemo.otf") format("opentype");
}

body {
    background-color: #252830;
    color: #cfd2da;
    font-family: Ubuntu, Arial, sans-serif;
}

a, a:hover {
    text-decoration: none;
}

a:focus {
    outline:none;
    background-color: #434857;
    color: #ffffff;
}

div {
    text-indent: 0;
}
  
aside, section{
  padding:8px;
}

hr{
  border-top: 1px solid #434857;
  margin: 0;
}

footer{
  background-color: #434857;
  font-size: .9rem;
  bottom: 0;
  left:0;
  right: 0;
  margin:0;
  padding: 0;
  position: fixed;
  bottom: 0;    
  text-align: center;
}

.logo{
  margin: 8px 0 10px 0;
}

.logo *{
  display:inline;
  height: 40px;
  vertical-align: middle;
  font-family: GeomaRegularDemo, Arial, sans-serif;
}

.user-info{
  text-align: center;
}

.photo-min{
  width: 80%;
  max-width: 156px;
  border: 1px solid #444;
  border-radius: 8px;
}

.bordered{
  border: 1px solid #444;
  border-radius: 8px;
}

.menu ul{
    list-style: none;
    padding: 0;
}

.menu li a{
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  display:block;
  color: #cfd2da; 
  padding: 8px;
}

.menu li a:hover{
  background-color: #434857;
  color: #ffffff;
}

.menu li a:active{
  background-color: #1ca8dd;
}

.content-wrapper{
  margin-top: 30px;
  text-indent: 1.5em;
  text-align: justify;
}

.a-narrow li a{
    padding: 0 8px;
}


/*  .reusult-table
-----------------------------------[Begin]-----------------------------------*/

.result-table{
    border-collapse: separate;
    border: 1px solid;
    border-radius: 4px;
    border-spacing: 0;
    min-width: 150px;
    margin: 8px;
}

.result-table tbody td{
    border-top: 1px solid;
}

.result-table, .result-table tbody td{
    border-color: #434857;
}

.result-table th{
    color: #ffffff;
    background-color: #434857;
    text-align: left;
    padding: 4px 12px;
}

.result-table tr td:first-child {
    text-align: left;
    padding: 4px 12px;
}

.result-table tr td:last-child {
    text-align: right;
    padding: 4px 12px;
}

/* status */

.result-fail{
    background-color: #700E17;/*#e64759*/
}
/*
.result-ok{
    background-color: #254844; #1bc98e
}*/

/*status*/

/*  .reusult-ul  
------------------------------------[end]------------------------------------*/



/*  #theme-timer-finish , .progress
-----------------------------------[Begin]-----------------------------------*/
div#theme-timer-finish {
    display: block;
    vertical-align: middle;
    margin: 0 0 8px 0;
}

div#theme-timer-finish > div{
    display: inline-block;
    text-align: center;
    text-indent: 0;
    
}

.progress {
    height: 2px;
    background-color: #434857;
}

.progress-bar-success {
    background-color: #1ca8dd;
}
/*  #timer-finish  
------------------------------------[end]------------------------------------*/


.btn-simple {
    background-color: transparent;
    border: 1px solid #1ca8dd;
    border-radius: 4px;
    color: #1ca8dd;
    padding: 0px 12px;
}

.btn-simple:hover {
    background-color: #1ca8dd;
    color: #000;
}

.timer {
    border: 0px solid transparent;
    background-color: #7D859B;
    border-radius: 4px;
    color: #fff;
    padding: 0 4px;
}

ul {
    list-style: none;
    padding-left: 16px;
}



/*  .login-form
-----------------------------------[Begin]-----------------------------------*/
.form-body {
    text-align: center;
}

.login-form {
    display: inline-block;
    text-align: center;
    width: 220px;
    text-align: center;
}

.login-form img{
    margin-bottom: 8px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    border: 1px solid transparent;
    background-color: #373B47;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    padding: 8px 8px 8px 40px;
}

.tb-login, .tb-password {
    position: relative;
}

.tb-login:before, .tb-password:before{
    content: url("/Content/app/images/transp.png");
    position: absolute;
    left: 8px;
    top: 7px;
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("/Content/app/images/icons-sprite.png");
    background-size: auto 400px;
}

.tb-login::before {
    background-position: 44px 383px;
}

.tb-password::before {
    background-position: 215px 340px;
}


/*.tb-login:before {
    content: url("/Content/app/images/transp.png");
    position: absolute;
    left: 8px;
    top: 7px;
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("/Content/app/images/icons-sprite.png");
    background-position: 44px 383px;
    background-size: auto 400px;
}

.tb-password:before {
    content: url("/Content/app/images/transp.png");
    position: absolute;
    left: 8px;
    top: 7px;
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("/Content/app/images/icons-sprite.png");
    background-position: 215px 340px;
    background-size: auto 400px;
}*/



.login-form ul{
    padding: 0;
    margin: 0;
}

.login-form li{
    padding: 8px 0;
    margin: 0;
}

.login-form * span {
    font-size: 90%;
    color: #e64c65;
}

.login-btn {
    width: 100%;
    padding: 8px 0;
    margin-bottom: 8px;
}

#rememberme {
    text-align: left;
    padding-bottom: 8px;
    font-size: 90%;
}

#rememberme *{
    margin: 0;
    vertical-align: middle;
}

.text-align-right {
    text-align: right;
}

.inline-block-table-wrapper {
    display: inline-block;
    vertical-align: top;
}

/*  .login-form
------------------------------------[end]------------------------------------*/

/*themeInfo*/
#start-exam-btn {
    margin: 0 8px;
}
/*themeInfo*/


